<div class="sub-header bg-[url('https://project-ltnc.vercel.app/assets/img/sub-header.jpg')] w-full h-[200px]">
    <div class="sub-header__title text-[50px] flex justify-center items-center h-full text-white">DANH SÁCH HỌC SINH</div>
</div>

 <div class="section-1">
        <ul>
            <li><a href="/me/courseD/{{courseID}}/{{ID}}">Khóa học</a></li>
            <li><a href="/me/courseD/stuList/{{courseID}}/{{ID}}">Danh sách HS</a></a></li>
        </ul>
</div>

<table class="table container mx-auto sm:px-0 px-[16px] mb-[50px] text-center my-[50px] text-[18px]">
    <thead>
        <tr>
        <th scope="col" class="border-[2px]">STT</th>
        <th scope="col" class="border-[2px]">MSSV</th>
        <th scope="col" class="border-[2px]">Tên</th>
        </tr>
    </thead>

    <tbody>
        {{#each students}}
            <tr>
            <th scope="row" class="border-[2px]">{{sum @index 1}}</th>
            <td class="border-[2px]">{{this.id}}</td>
            <td class="border-[2px]">{{this.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
